@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Source+Serif+Pro&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}   

header {
    display: grid;
    grid-template-columns: 350px auto;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Hammersmith One", Helvetica, sans-serif;
    font-size: 25px;
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around; 
    background-color: #D90429; 
    align-self: center;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 70px;
}
nav a:hover{
    background-color:#EF233C;
}

#logo_link {
    justify-self: center;
    align-self: center;
    width: 100%;
}
main {
    max-width: 1600px;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
    gap: 50px;
}
.home1{
    grid-area: 1/5/3/10; 
    width: 100%; 
}
.home2{
    grid-area: 4/2/5/7;
    width: 100%;
}
.learn-more1{
    grid-area: 1/5/3/10;
    width: 100%;
}
.apply-now1{
    grid-area: 1/2/3/6;
    width: 100%;
    z-index: 1;
}
.apply-now2{
    grid-area: 4/5/5/10;
    width: 100%;
}
main p {
    font-family: "Source Serif Pro", Helvetica, sans-serif; 
    font-size: 25px; 
    padding: 25px;
}
main p:nth-of-type(1){
    grid-area: 1/2/3/5; 
    background-color: #8D99AE;
}
main p:nth-of-type(2){
    grid-area: 3/2/4/6;
    background-color: #2B2D42;
    color: white;
}
main p:nth-of-type(3){
    grid-area: 3/6/4/10;
    background-color: #2B2D42; 
    color: white;
}
main p:nth-of-type(4){
    grid-area: 4/7/5/10; 
    background-color: #8D99AE; 
}
.p1 {
    grid-area: 1/6/3/10;
    background-color: #8D99AE; 
}
.p2{
    grid-area: 3/2/4/6;
    background-color: #8D99AE;
    color: black;
}
.p3{
    grid-area: 3/6/4/10;
    background-color: #8D99AE; 
    color: black;
}
.p4{
    background-color: #8D99AE; 
    grid-area: 4/2/5/5;

}
.join-button{
    background-color: #D90429;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 15px;
}
.join{
    font-family: "Source Serif Pro", Helvetica, sans-serif; 
    font-size: 25px; 
    padding: 25px;
    color: white;
    align-self: center;
    display: flex;
    justify-content: space-around;
}
.join-button:hover{
    background-color: #EF233C;
}
footer{
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    background-color: #850000;
}
footer a{
    font-size: 20px;
    padding: 40px;
    font-family: "Hammersmith One", Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}
footer a:hover{
    background-color: #D90429;
}
footer p{
    padding: 20px;
    font-size: 20px;
    font-family: "Hammersmith One", Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1000px) {
    main {
        display: block;
        height: auto;
    }
    nav {
        flex-direction: column;
        padding: 10px;
    }
    nav a, footer, footer a {
        display: block;
        padding: 5px;
    }
}