@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color:white;
    text-decoration: none;
    font-family: "open sans", Helvetica, sans-serif;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}  
.button-box{
    text-align: center;
}
main section{
    text-align: center;
} 

#background {
    height: 725px;
    background-color: #386CA0;
}
body {
    background-color: #fcfbfb;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #18394D;
}
nav a:hover {
    background-color: #876D52;
    color:white;
    font-family: "open sans", Helvetica, sans-serif;
}
.book, .join {
    background-color:#876D52;
    color:white;
    text-decoration: none;
    font-family: "open sans", Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color:#18394D;
    color:white;
    font-family: "open sans", Helvetica, sans-serif;
}
.msg {
    background-color:#876D52;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color:#876D52;
    color:white;
    text-decoration: none;
    font-family: "open sans", Helvetica, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color:#18394D;
    font-family: "rock salt", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color:#18394D;
    font-family: "rock salt", Helvetica, sans-serif;
}
.msg h2{
    color:white;
    font-family: "rock salt", Helvetica, sans-serif;
}
.msg p {
    color:white;
    font-family: "open sans", Helvetica, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color:white;
    text-decoration: none;
    font-family: "open sans", Helvetica, sans-serif;
}
footer a:hover{
    color:#18394D;
    font-family: "open sans", Helvetica, sans-serif;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #18394D;
}
main section img{
    box-sizing: border-box;
}