#banner {
    width: 100%;
    height: 60%;
}

.circle {
    border-radius: 50%;
    border:10px;
    width: 25%;
    height: 25%;
    padding: 25px;
    background-color: darkgrey;
}

body {
    background-color: gray;
}